@model TodoList

<form asp-action="Add" asp-controller="TodoList" method="post" class="mt-5 p-3" style="border:1px solid black">
    <div>
        <div asp-validation-summary="ModelOnly" class="validation"></div>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <textarea class="form-control" asp-for="Title"></textarea>
            <div><span asp-validation-for="Title" class="text-danger"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="Category">Category</label>
            <input class="form-control" asp-for="Category" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TodoListPriority">Priority</label>
            <select asp-items="Html.GetEnumSelectList<Priority>()" style="width:100%" name="TodoListPriority">
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>