@{
    ViewData["Title"] = "Lists";
}

@model ListIndexViewViewModel
<div class="text-center">
    <h1 class="display-4">Lists</h1>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find list: <input type="text" name="Search" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-info" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div class="d-flex justify-content-md-start">
    <div class="justify-content-md-between row">
        <a class="col-md-3 col-sm-12" asp-action="Index" asp-controller="TodoEntry" asp-route-category="@Model.Category" asp-route-backUrl="@Context.Request.Path">Total entries: @Model.TotalEntries</a>
        <a class="col-md-3 col-sm-12" asp-action="Index" asp-controller="TodoEntry" asp-route-category="@Model.Category" asp-route-showDueTodayItems="true" asp-route-backUrl="@Context.Request.Path">Due today: @Model.DueTodayItemsCount</a>
        <a class="col-md-3 col-sm-12" asp-action="Index" asp-controller="TodoEntry" asp-route-category="@Model.Category" asp-route-showOverDueItems="true" asp-route-backUrl="@Context.Request.Path">Overdue entries: @Model.OverDueItemsCount</a>
    </div>
</div>
<div class="d-flex justify-content-end">
    <div class="justify-content-between">
        <a asp-action="Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-currentFilter="@Model.CurrentFilter"
           asp-route-showHiddenLists="@Model.ShowHiddenLists"
           asp-route-hideCompletedLists="@(!Model.HideCompletedLists)"
           class="btn btn-outline-info">
            @(Model.HideCompletedLists ? "Show" : "Hide") completed lists
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-currentFilter="@Model.CurrentFilter"
           asp-route-hideCompletedLists="@Model.HideCompletedLists"
           asp-route-showHiddenLists="@(!Model.ShowHiddenLists)"
           class="btn btn-outline-info">
            @(Model.ShowHiddenLists ? "Hide" : "Show") hidden lists
        </a>
    </div>
</div>

@if (Model.List.Count == 0)
{
    <p class="text-center p-2 m-3">There are no entries in this list</p>
}
else
{
    var parms = new Dictionary<string, string>()
    {
        { "currentFilter", Model.CurrentFilter },
        { "hideCompletedLists", Model.HideCompletedLists.ToString()},
        { "showHiddenLists", Model.ShowHiddenLists.ToString() }
    };

    <table id="table" class="table table-sm table-borderless table-striped col-md-12 col-12">
        <thead>
            <tr>
                <th style="display:none;">ID</th>
                <th class="col-md-3"><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.TitleSort">Title</a>
                <th class="col-md-2"><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.PrioritySort">Priority</a>
                <th class="col-md-2"><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.StatusSort">Status</a>
                <th class="col-md-4"><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.CategorySort">Category</a>
                <th class="border-0 col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TodoList l in Model.List)
            {
                <tr class="bg-secondary text-white" onclick="changeTableBg(event)">
                    <td class="border-bottom border-left" style="display:none;">@l.ID</td>
                    <td class="border-bottom border-left">@l.Title</td>
                    <td class="border-bottom border-left">@l.TodoListPriority</td>
                    <td class="border-bottom border-left">@(l.TodoListStatus.GetAttribute<DisplayAttribute>().Name)</td>
                    <td class="border-bottom border-left">@l.Category</td>
                    <td class="bg-white border-0 border-bottom-0">
                        <a asp-action="Index" asp-all-route-data="parms"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-hideListID="@l.ID" class="btn btn-outline-info btn-sm">@(l.IsHidden ? "Show" : "Hide")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

var request = Context.Request;
var _baseURL = $"{request.Scheme}://{request.Host}";
var fullUrl = _baseURL+Context.Request.Path + Context.Request.QueryString;

    <div class="container m-md-0">
        <div class="col-md-5 justify-content-md-start m-md-0">
            <div class="d-flex justify-content-between">
                <a id="edit" class="btn bg-secondary btn-sm p-1" returnUrl="@($"{Context.Request.Path}{Context.Request.QueryString}")" category="@Model.Category">Edit</a>
                <a id="copy" class="btn bg-secondary btn-sm">Copy</a>
                <a id="show" class="btn bg-secondary btn-sm">Show</a>
                <a id="delete" class="btn bg-secondary btn-sm">Delete</a>
            </div>
        </div>
    </div>

    var prevDisabled = !Model.List.HasPreviousePage ? "disabled" : "";
    var nextDisabled = !Model.List.HasNextPage ? "disabled" : "";

    <div class="d-flex justify-content-end mt-3">
        <div class="justify-content-md-between">
            <a asp-action="Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageNumber="@(Model.List.PageIndex - 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-hideCompletedLists="@Model.HideCompletedLists"
               asp-route-showHiddenLists="@Model.ShowHiddenLists"
               class="btn btn-info @prevDisabled">
                Previous
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageNumber="@(Model.List.PageIndex + 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-hideCompletedLists="@Model.HideCompletedLists"
               asp-route-showHiddenLists="@Model.ShowHiddenLists"
               class="btn btn-info @nextDisabled">
                Next
            </a>
        </div>
    </div>
}

<script>

    document.onreadystatechange = function () {
        enableButtons();
    };

    function enableButtons() {
        const buttons = getButtonElements();
        for (let i = 0; i < buttons.length; i++) {
            changeButtonBgColor(buttons[i]);
        }
    }

    function getButtonElements() {
        let editButton = document.getElementById("edit");
        let showButton = document.getElementById("show");
        let copyButton = document.getElementById("copy");
        let deleteButton = document.getElementById("delete");
        const buttons = [editButton, showButton, copyButton, deleteButton];

        return buttons;
    }

    function changeButtonBgColor(button) {
        if (!button.hasAttribute("href")) {
            button.setAttribute("class", "btn bg-secondary btn-sm col-md-2 text-white");
        }
        else {
            button.setAttribute("class", "btn bg-info btn-sm col-md-2 text-white");
        }
    }

    function changeTableBg(event) {
        let table = document.getElementById("table");
        for (let i = 1; i < table.rows.length; i++) {
            table.rows[i].setAttribute("class", "bg-secondary text-white");
        }

        let tr = event.currentTarget;
        tr.setAttribute("class", "bg-primary text-white");

        let id = tr.cells[0].innerText;
        const buttons = getButtonElements();
        setAttributeHrefOnButtonElements(id, buttons);
        for (let i = 0; i < buttons.length; i++) {
            changeButtonBgColor(buttons[i]);
        }
    }

    function setAttributeHrefOnButtonElements(id, buttons) {
        let [editButton, showButton, copyButton, deleteButton] = buttons;
        let returnUrl = editButton.getAttribute("returnUrl");
        let category = editButton.getAttribute("category");
        editButton.setAttribute("href", `/TodoList/Update?id=${id}&returnUrl=${category}`);
        showButton.setAttribute("href", `/TodoEntry/Index?id=${id}&backUrl=${returnUrl}`)
        copyButton.setAttribute("href", `/TodoList/Copy?id=${id}&category=${category}`);
        deleteButton.setAttribute("href", `/TodoList/Delete?id=${id}&category=${category}`);
    }

</script>


