﻿@model ListUpdateViewModel
<form asp-action="Update" asp-controller="TodoList" method="post" class="mt-5 p-3" style="border:1px solid black">
    <div>
        <input type="hidden" asp-for="@Model.ID" />
        <div class="form-group">
            <label asp-for="@Model.Title">Title</label>
            <div><span asp-validation-for="@Model.Title" class="text-danger"></span></div>
            <textarea class="form-control" asp-for="@Model.Title"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Category">Category</label>
            <div><span asp-validation-for="@Model.Category" class="text-danger"></span></div>
            <input class="form-control" asp-for="@Model.Category" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.TodoListStatus">Status</label>
            <select asp-items="Html.GetEnumSelectList<Status>()" style="width:100%" asp-for="@Model.TodoListStatus">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TodoListPriority">Priority</label>
            <select asp-items="Html.GetEnumSelectList<Priority>()" style="width:100%" asp-for="@Model.TodoListPriority">
            </select>
        </div>
        <input type="hidden" asp-for="@Model.ReturnUrl" />
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
