@{
    ViewData["Title"] = "ToDoApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <a asp-controller="TodoList" asp-action="Add" class="display-4">Create To do list</a>
</div>



