﻿@model todo_domain_entities.Models.TodoList


<a class="btn btn-block btn-outline-secondary mb-5 mb-sm-5" asp-action="Index" asp-controller="TodoList" asp-route-category="" asp-route-showHiddenLists="@ViewBag.ShowHiddenLists" asp-route-hideCompletedLists="@ViewBag.HideCompletedLists">
    All
</a>
<div id="container">
    @foreach (string category in ViewBag.Categories)
    {
        <a class="btn btn-block
       @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
           asp-action="Index" asp-controller="TodoList" asp-route-category="@category" asp-route-showHiddenLists="@ViewBag.ShowHiddenLists" asp-route-hideCompletedLists="@ViewBag.HideCompletedLists">
            @category
        </a>
    }
</div>

<button class="btn btn-block btn-outline-info mt-md-5 mt-5 mb-5" onclick="changeTodoListFormVisibility()">Add</button>
<partial name="_ValidationScriptsPartial" />
<div id="todoListForm" style="display:none">
    <form asp-action="Add" asp-controller="TodoList" method="post" class="mt-5 mb-5 p-3" style="border:1px solid black">
        <div>
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <div><span asp-validation-for="Title" class="text-danger"></span></div>
                <textarea class="form-control" asp-for="Title"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Category">Category</label>
                <div><span asp-validation-for="Category" class="text-danger"></span></div>
                <input class="form-control" asp-for="Category" />

            </div>
            <div class="form-group">
                <label asp-for="TodoListPriority">Priority</label>
                <select asp-items="Html.GetEnumSelectList<Priority>()" style="width:100%" name="TodoListPriority">
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script>

    function changeTodoListFormVisibility() {
        let form = document.getElementById("todoListForm");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }

</script>