﻿@model ItemViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" asp-controller="TodoEntry" method="post" class="row" style="border:1px solid skyblue">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-xs-3 col-md-5">
                <div><span asp-validation-for="Description" class="text-danger"></span></div>
                <label asp-for=Description>Description</label>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>
            <div class="form-group col-xs-3 col-md-3" style="display:none">
                <label asp-for="CreationDate">Creation date</label>
                <input type="datetime-local" class="form-control" asp-for="CreationDate" />
            </div>
            <div class="form-group col-xs-3 col-md-3">
                <div><span asp-validation-for="DueDate" class="text-danger"></span></div>
                <label asp-for="DueDate">Duedate</label>
                <input type="datetime-local" class="form-control" asp-for="DueDate" />
            </div>
            <div class="form-group col-xs-3 col-md-3">
                <label asp-for="EntryPriority">Priority</label>
                <select asp-items="Html.GetEnumSelectList<Priority>()" asp-for="EntryPriority" class="form-control">
                </select>
            </div>
            <input type="hidden" asp-for="TodoListID"/>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class=" align-items-center d-flex">
                <button type="submit" class="btn btn-primary m-1">Submit</button>
            </div>
        </form>
    </div>
</div>

