﻿@{
    ViewData["Title"] = "Entries";
}

@model ItemIndexViewViewModel


@if (Model.TodoList != null)
{
    <h4 class="bg-primary text-white text-center p-2">To do list</h4>
    <div class="table-responsive-sm">
        <table class="table table-sm table-borderless table-responsive-sm">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Category</th>
                    <th class="border-0"></th>
                    <th class="border-0"></th>
                    <th class="border-0"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white text-info" onchange="changeButtonsVisibility(event)">
                    <td id="todoListId" style="display:none;" class="border-bottom border-left">@Model.TodoList.ID</td>
                    <td><textarea asp-for="@Model.TodoList.Title" rows="2" class="bg-transparent border-0 text-info"></textarea></td>
                    <td>
                        <select asp-items="Html.GetEnumSelectList<Priority>()" class="bg-transparent text-info border-0" asp-for="@Model.TodoList.TodoListPriority">
                        </select>
                    </td>
                    <td>
                        <select asp-items="Html.GetEnumSelectList<Status>()" class="bg-transparent text-info border-0" asp-for="@Model.TodoList.TodoListStatus">
                        </select>
                    </td>
                    <td><input type="text" value="@Model.TodoList.Category" class="bg-transparent border-0 text-info" /></td>
                    <td class="bg-white">
                        <a id="save" class="btn btn-outline-info btn-sm text-info" style="display:none" onclick="saveChanges(event)">Save</a>
                    </td>
                    <td class="bg-white">
                        <a id="cancel" class="btn btn-outline-info btn-sm text-info" style="display:none" onclick="cancelChanges()">Cancel</a>
                    </td>
                    <td class="bg-white">
                        <a asp-action="Delete" asp-controller="TodoList" class="btn btn-outline-info btn-sm text-info" asp-route-id="@Model.TodoList.ID">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

@if (Model.ShowDueTodayItems)
{
    <h4 class="bg-primary text-white text-center p-2">Due today entries</h4>
}
else if (Model.ShowOverDueItems)
{
    <h4 class="bg-primary text-white text-center p-2">Overdue entries</h4>
}
else
{
    <h4 class="bg-primary text-white text-center p-2">Entries</h4>
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find entry: <input type="text" name="Search" value="@Model.CurrentFilter" />
            <input type="hidden" asp-for="@Model.TodoList.Category" />
            <input type="hidden" asp-for="@Model.ID" />
            <input type="hidden" asp-for="@Model.BackUrl" />
            <input type="hidden" asp-for="@Model.Category" />
            <input type="hidden"  asp-for="@Model.ShowDueTodayItems" />
            <input type="hidden" asp-for="@Model.ShowOverDueItems" />
            <input type="submit" value="Search" class="btn btn-info" />
        </p>
    </div>
</form>

@if (Model.List.Count == 0)
{
    <p class="text-center p-2 m-3">There are no entries in this list</p>
}
else
{
    var parms = new Dictionary<string, string>()
    {
        { "currentFilter", Model.CurrentFilter },
        { "backUrl", Model.BackUrl },
        { "showDueTodayItems", Model.ShowDueTodayItems.ToString() },
        { "showOverDueItems", Model.ShowOverDueItems.ToString() },
        { "id", Model.ID.ToString() },
        { "category", Model.Category }
    };

    <div class="table-responsive-sm">
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th style="display:none"></th>
                    <th><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.DescriptionSort">Description</a></th>
                    <th><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.CreationDateSort">Creation date</a></th>
                    <th><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.DueDateSort">Duedate</a></th>
                    <th><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.PrioritySort">Priority</a></th>
                    <th><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.StatusSort">Status</a></th>
                    @if (Model.TodoList == null)
                    {
                        <th><a asp-action="Index" asp-all-route-data="parms" asp-route-sortOrder="@Model.TodoListSort">List</a></th>
                    }
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
           @foreach (TodoEntry l in Model.List)
            {
                var btnClass = l.DueDate < DateTime.Now && l.EntryStatus != Status.Completed ? "btn-outline-danger" : l.EntryStatus == Status.Completed ? "btn-outline-success" : "btn-outline-info";
                var trClass = l.DueDate < DateTime.Now && l.EntryStatus != Status.Completed ? "bg-danger" : l.EntryStatus == Status.Completed ? "bg-success" : "bg-info";
                    <tr class="@trClass text-white">
                        <td class="border-bottom border-left" style="display:none;">@l.ID</td>
                        <td class="border-bottom border-left">@l.Description</td>
                        <td class="border-bottom border-left">@l.CreationDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                        <td class="border-bottom border-left">@l.DueDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                        <td class="border-bottom border-left">@l.EntryPriority</td>
                        <td class="border-bottom border-left">@(l.EntryStatus.GetAttribute<DisplayAttribute>().Name)</td>
                        @if (Model.TodoList == null)
                        {
                            <td class="border-bottom border-left">@l.TodoList.Title</td>
                        }

                        <td class="border-0 border-bottom-0 bg-white">
                            <a asp-action="Update" class="btn @btnClass" asp-route-id="@l.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">Edit</a>
                        </td>
                        <td class="border-0 bg-white border-bottom-0">
                            <a asp-action="Delete" class="btn @btnClass" asp-route-id="@l.ID" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" asp-route-count="@Model.List.Count()">Delete</a>
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>

    var prevDisabled = !Model.List.HasPreviousePage ? "disabled" : "";
    var nextDisabled = !Model.List.HasNextPage ? "disabled" : "";

    <a asp-action="Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageNumber="@(Model.List.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-backUrl="@Model.BackUrl"
       asp-route-showDueTodayItems="@Model.ShowDueTodayItems"
       asp-route-showOverDueItems="@Model.ShowOverDueItems"
       asp-route-id="@Model.ID"
       asp-route-category="@Model.Category"
       class="btn btn-info @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageNumber="@(Model.List.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-backUrl="@Model.BackUrl"
       asp-route-showDueTodayItems="@Model.ShowDueTodayItems"
       asp-route-showOverDueItems="@Model.ShowOverDueItems"
       asp-route-id="@Model.ID"
       asp-route-category="@Model.Category"
       class="btn btn-info @nextDisabled">
        Next
    </a>
}

@if (Model.TodoList != null)
{
    <button class="btn bg-info float-right" style="width:100px;" onclick="changeFormVisibility()">Add</button>
    <div id="formEntry" style="display:none; margin-top:100px;" class="container-fluid">
        <partial name="_FormPartialView" model="@(new ItemViewModel()
            { TodoListID = Model.TodoList.ID,
              CreationDate = DateTime.Now,
              DueDate = DateTime.Now.AddDays(1),
              ReturnUrl = Context.Request.Path + Context.Request.QueryString
            })" />
    </div>
}

@if (!string.IsNullOrEmpty(Model.BackUrl))
{
<div class="mt-3">
    <a href="@Model.BackUrl" class="btn btn-outline-dark"><img src="~/img/back icon.png" /></a>
</div>
}

<script>

    function changeButtonsVisibility(event) {

        let tr = event.currentTarget;
        alert(tr);
        save = tr.cells[5].lastElementChild;
        cancel = tr.cells[6].lastElementChild;
        if (save.style.display === "none") {
            save.style.display = "block";
            cancel.style.display = "block";
        }
    }

    function saveChanges(event) {
        let elem = event.target;
        let parent = elem.parentElement;
        let tr = parent.parentElement;
        let id = tr.cells[0].innerText;
        let title = tr.cells[1].lastElementChild.value;
        let priority = tr.cells[2].lastElementChild.value;
        let status = tr.cells[3].lastElementChild.value;
        let category = tr.cells[4].lastElementChild.value;
        const XHR = new XMLHttpRequest();
        const FD = new FormData();
        FD.append("ID", id);
        FD.append("Title", title);
        FD.append("TodoListPriority", priority);
        FD.append("TodoListStatus", status);
        FD.append("Category", category);
        FD.append("ReturnUrl", null);

        XHR.addEventListener('load', (event) => {
            alert('Yeah! Data sent and response loaded.');
            location.reload();
        });

        XHR.addEventListener('error', (event) => {
            alert('Oops! Something went wrong.');
        });

        XHR.open("POST", "/TodoList/Update");

        XHR.send(FD);
    }

    function cancelChanges() {
        location.reload();
    }

    function changeFormVisibility() {
        let form = document.getElementById("formEntry");
        if (form.style.display === "none") {
            form.style.display = "block";
        }
        else {
            form.style.display = "none";
        }
    }
</script>



