﻿@model ItemViewModel
<form asp-action="Update" asp-controller="TodoEntry" method="post" class="row" style="border:1px solid skyblue">
    <div class="form-group col-xs-3 col-md-5">
        <div><span asp-validation-for="@Model.Description" class="text-danger"></span></div>
        <label asp-for="@Model.Description">Description</label>
        <textarea class="form-control" asp-for="@Model.Description"></textarea>
    </div>
    <div class="form-group col-xs-3 col-md-3" hidden>
        <label asp-for="CreationDate">CreationDate</label>
        <input type="datetime-local" class="form-control" asp-for="CreationDate" />
    </div>
    <div class="form-group col-xs-3 col-md-3">

        <div><span asp-validation-for="@Model.DueDate" class="text-danger"></span></div>
        <label asp-for="@Model.DueDate">Due date</label>
        <input type="datetime-local" class="form-control" asp-for="@Model.DueDate" />
    </div>
    <div class="form-group col-xs-3 col-md-3">
        <label for="@Model.EntryPriority">Priority</label>
        <select asp-items="Html.GetEnumSelectList<Priority>()" asp-for="@Model.EntryPriority" class="form-control">
        </select>
    </div>
    <div class="form-group col-xs-3 col-md-3">
        <label for="@Model.EntryStatus">Status</label>
        <select asp-items="Html.GetEnumSelectList<Status>()" asp-for="@Model.EntryStatus" class="form-control">
        </select>
    </div>
    <input type="hidden" asp-for="@Model.TodoListID" value="@Model.TodoListID" />
    <input type="hidden" asp-for="@Model.ReturnUrl" />
    <div class=" align-items-center d-flex">
        <button type="submit" class="btn btn-primary m-1">Submit</button>
    </div>
</form>
