﻿@if (User.Identity.IsAuthenticated)
{
    <div class="row d-lg-inline-flex float-right">
        <p class="ml-auto col-md-5 col-sm-12">@User.Identity.Name</p>
        <form method="post" asp-controller="Account" asp-action="Logout" class="col-md-5 col-sm-12">
            <input type="submit" class="m-0" value="Logout" />
        </form>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="col-md-5 col-sm-6 p-0">Login</a>
    <a asp-controller="Account" asp-action="Register" class="col-md-5 col-sm-6">Register</a>
}